/*
font-family: 'Cinzel Decorative', cursive;
font-family: 'Quattrocento', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700,900|Quattrocento:400,700&display=swap');

body {
    font-size: 16px;
    font-family: 'Quattrocento', serif;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: 4.5em;
}

p {
    margin: 0 25% 1%;
    width: 1000px;
    line-height: 2em;
}